<a href="https://colab.research.google.com/github/xndrxs/Repositorio_Algoritmos/blob/main/asanchezfu_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 01 Data Types and Data Structures

my_string1 = 'Hello'
# Asigna un string a la variable my_string1
my_string2 = "World"
# Asigna un string a la variable my_string2
print(my_string1 + ' ' + my_string2)

# Con print imprime un mensaje en pantalla que es pasado como argumento
# dentro de los paréntesis (), en este ejemplo está concatenando las variables y
# agregando un espacio intermedio

# Algo para resaltar es que python identifica los strings ya sea con ('') ó ("")

Hello World

In [ ]:
my_int = 100
# Inicializa la variable my_int con un valor entero igual a 100
print(my_int)
# Imprime la variable con print()
print(type(my_int))
# El comando "type" imprime el tipo de dato de una variable, en este caso
# my_int, contiene un dato de tipo entero (int) 

# El tipo de dato int es un entero sin valores decimales

100
<class 'int'>

In [ ]:
my_string = "205"
# Inicializa la variable my_string con una cadena la texto "100"
print(type(my_string))
# Imprime el tipo de dato de my_string, el cual en este momento es un string
my_int = int(my_string)
# Guarda en la variable my_int el valor en entero que tenía my_string
# con el comando int(variable) puede convertir cualquier tipo de dato a entero
print(type(my_int))
# Imprime el tipo de dato que contiene la variable my_int

# Esta función es muy útil ya que cualquier entrada que proporcione el usuario
# entrará al programa como un string, por eso el meme del proyecto calculadora
# 1+1 = 11, ya que el programa concatena los strings

<class 'str'>
<class 'int'>

In [ ]:
my_string = "100"
# Inicializa la variable my_string con una cadena la texto "100"
my_float = float(my_string)
# Guarda en la variable my_float el valor en flotante que tenía my_string
# con el comando float(variable) puede convertir cualquier tipo de dato a flotante
print(type(my_float))
# Imprime el tipo de dato que tiene la variable my_float

# Los flotantes en python requieren de tener un valor decimal, este ejemplo no
# es correcto si se busca presentar el tipo de dato float, ya que el tipo de dato
# óptimo para guardar este valor es un int.

n_int = 100
n_float = 100.0
print("Este dato es de tipo", type(n_int), "a pesar de que equivalen al mismo valor matemático, este dato es de tipo", type(n_float))

<class 'float'>
Este dato es de tipo <class 'int'> a pesar de que equivalen al mismo valor matemático, este dato es de tipo <class 'float'>

In [ ]:
my_bool = True
# Inicializa la variable my_bool con el valor false
print(my_bool)
# Imprime el estado de la variable
print(type(my_bool))
# Imprime el tipo de dato que tiene la variable (false)

# El tipo de variable boolean tiene dos estados, true or false, es útil para
# definir estados de funciones que requieren unas de otras, además de 
# operaciones lógicas.

True
<class 'bool'>

In [ ]:
# Imprimen el tipo de operación y un ejemplo básico
print("Suma ", 12+89)
print("Resta ", 5-20)
print("Multiplicación ", 7*8)
print("División ", int(100/2.5))
print('Exponencial', 2**8)
# Esta sección presenta una introducción a las operaciones básicas en python

Suma  101
Resta  -15
Multiplicación  56
División  40
Exponencial 256

In [ ]:
# Misma operación, mismo resultado; a pesar de que difieren en sus tipos de dato
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
my_list = ['Hello', 'Python']#, 1, 2, True]
# Crea una lista con dos strings en la posición 0 y 1
print(my_list)
# Imprime la lista

# El código que está comentado sirve para demostrar que en python podemos tener
# una lista con diferentes tipos de datos

['Quant', 'Connect']

In [ ]:
my_list = ['Hello', 'Python', 1, 2, True]
# Inicializa una lista con cinco valores
print(len(my_list))
# Con la función len podemos obtener la longitud de la lista
print(my_list[1])
# El index de una lista comienza en cero, en este caso imprime el segundo valor
# que podemos encontrar en esta.
print(my_list[len(my_list) -1])
# Como el index comienza en cero para obtener el último valor de la lista 
# podemos hallar la longitud y restarle uno.

5
Python
True

In [ ]:
my_list = ['Hello', 'Python', 1, 2, True]
my_list[3] = 'siu'
# En este caso estamos actualizando un valor en la lista, en este caso en el
# index 3, es decir, cambiará 2 por 'siu'
print(my_list)

['Hello', 'Python', 1, 'siu', True]

In [ ]:
my_list = ['Hello', 'Python', 1, 2, True]
print(my_list[1:4])
# También podemos dividir la lista por secciones, desde el primer valor pero no
# toma el último indicado, en este caso tomamos los valores en las posiciones 
# desde el 1 hasta el 3

['Python', 1, 2]

In [ ]:
print(my_list[2:])
# Toma desde el valor en la posición 2 hasta el valor final 
print(my_list[:4])
# Toma desde el primer valor (i[0]) hasta el i[4]

['Connect', 1, 2, 3]
['Quant', 'Connect', 1]

In [ ]:
my_list = ['Hello', 'Python', 1, 2, True]
my_list.append('Python')
# Con la función append añadimos un valor al final de la lista
print(my_list)
my_list.remove('Python')
# Con la función remove podemos eliminar de la lista un valor deseado
print(my_list)

# La función remove solo elimina un dato, por lo que si el valor a eliminar
# está repetido solo removerá el primero que encuentre

['Hello', 'Python', 1, 2, True, 'Python']
['Hello', 1, 2, True, 'Python']

In [ ]:
my_tuple = ['Hello', 'to', 'Python', 'lovers', 1,]
print(my_tuple[:-1])
# Slice desde el index[0] hasta el penúltimo valor de la tupla usando la lógica
# del slice

# La diferencia entre una tupla y una lista es que la tupla es inmutable
# es decir, no podemos actualizar o cambiar sus valores

['Hello', 'to', 'Python', 'lovers']

In [ ]:
stock_list = ['Francia','Korea','USA','Francia','USA','Suiza','Suiza','Korea']
# Crea un conjunto de strings
stock_set = set(stock_list)
# Con la función set elimina los elementos repetidos del conjunto
print(stock_set)
# Imprime el nuevo conjunto

# Los conjuntos son una colección de objetos sin orden, al igual que en las
# tuplas no admite asignación de elementos

{'USA', 'Suiza', 'Korea', 'Francia'}

In [ ]:
my_dic = {'G2':'M1xwell', 'Sentinels':'TenZ', 'Acend':'Cned'}
# Crea un diccionario, una colección constituida por pares de datos 
# en forma de llave:valor
print(my_dic['G2'])
# Imprime el valor asignado a dicha llave, en este caso 'M1xwell'
my_dic['G2'] = 'Nukkye'
# Podemos actualizar los valores dentro del diccionario para cualquier llave
print(my_dic['G2'])
# Imprime el valor asignado a dicha llave, en este caso 'Alphabet Company'
print(my_dic.keys())
# El comando .keys() permite ver un listado de todas las llaves en el diccionario

M1xwell
Nukkye
dict_keys(['G2', 'Sentinels', 'Acend'])

In [ ]:
my_str = 'Logical Operations and Loops'
print(my_str[8:])
# También podemos usar la lógica slice para los strings como en este caso que 
# imprime desde la letra 9 hasta el final del string

Operations and Loops

In [ ]:
# Existen diferentes funciones para strings, a continuación vamos a ver tres
print('Baby you were everything I ever wanted, wedding ring'.count('i'))
# .count() recibe como parametro un string y retorna cuantas veces está
# presente en el string original 
print('Baby you were everything I ever wanted, wedding ring'.find('w'))
# .find() recibe como parámetro un string y retorna la posición index
# en la que lo encuentra por primera vez en el string original
print('Baby you were everything I ever wanted, wedding ring'.replace('i','u'))
# .replace() recibe dos parámetros strings, el primero es aquel que va a reemplazar
# y el segundo por el cual lo reemplazará.

3
9
Baby you were everythung I ever wanted, weddung rung

In [ ]:
frase = 'Se sintió puro, explícito, invencible, en el momento de responder: -Mierda.'
splited_list = frase.split(': ')
# Asignamos a la variable splited_list el resultado del método split() ejecutado
# sobre el valor de frase, el método split() divide un string en n partes siempre
# que encuentre el valor ingresado por parámetro, en este caso (": ")
pregunta = splited_list[0]
respuesta = splited_list[1]
# En este caso el split retorna dos valores divididos, el primero es asignado a
# la variable pregunta y el segundo a respuesta
print(pregunta, respuesta)
# Imprime los valores, por la coma agrega un espacio intermedio por default
pal = respuesta.split('-')[1]
# Ahora haremos un split sobre la variable respuesta separando por el caracter ":"
# este split retornará tres valores pero solo asignaremos el segundo a la 
# variable pal
print(pal)

Se sintió puro, explícito, invencible, en el momento de responder -Mierda.
Mierda.

In [ ]:
# Existen diferentes maneras de concatenar datos en mensajes o strings
my_phrase = 'Escritor: {}, Obra: {}'.format('García Marquez','El coronel..')
# En este método cada {} hace referencia a la entrada de un dato que recibirá
# por parámetro el método .format
print(my_phrase)

print('La temperatura es %f°'%12.3)
# Este método usado en la función print usa %inicial_de_tipo_de_dato para hacer
# el llamado a los datos que se asignarán posteriormente
print('%s to %s its %i o clock'%('Hello','Pythonlovers', 10))

Escritor: García Marquez, Obra: El coronel..
La temperatura es 12.300000°
Hello to Pythonlovers its 10 o clock

In [ ]:
# 02 Logical Operations and Loops

# Ejemplos de diferentes operadores de comparación que retornan valores lógicos
print(1 < 0)
print(1 == 1.0)
print(type(1) == type (1.0))
print(1 != 0)
print(5 >= 6)

False
True
False
True
False

In [ ]:
# Ahora usaremos operadores lógicos 
# AND, para que retorne True se deben cumplir las dos condiciones
print(1 == 1.0 and type(1) != type (1.0))
# OR, para que retorne True solo es necesario que se cumpla una de las condiciones
print(1 != 1.0 or type(1) != type (1.0))
# Not, para que retorne True debe ser una afirmación verdadera
print(1 is not float)
# Podemos usar todos los tipos de operadores para crear una método más grande
print((1 == 1.0 or type(1) != type (1.0)) and (1 != 1.0 and type(1) == type (1.0)))

True
True
True
False

In [ ]:
i = 5
n = 7
if i%2==0 and n%2==0:
    print('Ambas son pares')
elif i%2==0 and not n%2==0:
    print('i es par pero n es impar')
elif n%2==0 and not i%2==0:
    print('n es par pero i es impar')
else:
    print('Ambas son impares')

# Con este if podemos validar que el valor de dos variables, la estructura if
# cuenta con elif y else para descartar o comrpobar cada caso que pueda presentar
# lógicamente el programa

Ambas son impares

In [ ]:
n = 3
while n:
  print(n) 
  n -= 1

# Con la estructura while podemos repetir una acción hasta que cierto valor se cumpla
# o como en este caso, se deje de cumplir, es importante tener una iteración de
# tipo variable -+= n para que no se convierta en un bucle

3
2
1

In [ ]:
no_recomendados = ["Dulces", "Cervezas"]
seleccionados = ["Pollo", "Carne", "Dulces", "Cervezas", "Pasta"]
for i in no_recomendados:
  # recorremos la lista
  if i in seleccionados:
    # validamos si el valor se encuentra en nuestra selección
    seleccionados.remove(i)
    # si es así removemos y continuamos
print(seleccionados)
# al teminar de recorrer imprimimos el estado final de la lista

# En este caso hemos usado el bucle for para recorrer la lista de no_recomendados
# este bucle es útil para recorrer estructuras validando su valor

['Pollo', 'Carne', 'Pasta']

In [ ]:
stock = ["1", "1", "0", "-1", "2"]
for i in stock:
  # recorremos la lista stock
  if i == "0":
    # si encuentra un 0 finalizamos la acción y pasamos a la siguiente iteración
    continue
  if i == "-1":
    # si encuentra un -1 imprime un mensaje de alerta y rompe el bucle
    print("-1 encontrado")
    break
  print(i)

# Continue es usado cuando queremos obviar una iteración y pasar directamente
# a la siguiente, break por su parte nos permite romper el bucle, lo podemos usar
# para evitar tiempo de ejecución ineficiente

1
1
-1 encontrado

In [ ]:
# Hacemos el ejemplo anterior con comprensión de listas
no_recomendados = ["Dulces", "Cervezas"]
seleccionados = ["Pollo", "Carne", "Dulces", "Cervezas", "Pasta"]
seleccionados = [i for i in seleccionados if i not in no_recomendados]
# Recorremos la lista y añadimos si NO SE ENCUENTRA en la lista no_recomendados
print(seleccionados)

['Pollo', 'Carne', 'Pasta']

In [ ]:
teams = ['G2','KRU','Sentinels']
print("Los enfrentamientos de la fase de grupos serán:", [str(x) +' vs '+ str(y) for x in teams for y in teams if x!=y])
# En este ejemplo las variables recorren la lista de equipos e imprimen los 
# enfrentamientos que se darán evitando así el error de enfrentar al mismo equipo

Los enfrentamientos de la fase de grupos serán: ['G2 vs KRU', 'G2 vs Sentinels', 'KRU vs G2', 'KRU vs Sentinels', 'Sentinels vs G2', 'Sentinels vs KRU']

In [ ]:
# 03 Functions and Objective-Oriented Programming

def f_pares(i,n):

  if i%2==0 and n%2==0:
      return 'Ambos son pares'
  elif i%2==0 and not n%2==0:
      return 'i es par pero n es impar'
  elif n%2==0 and not i%2==0:
     return 'n es par pero i es impar'
  else:
      return 'Ambos son impares'

print(f_pares(5,3))

# Utilizamos el método de par o impar para convertirlo en una función y así poder
# llamarlo fácilmente en cualquier instante del prorgrama, haciendolo un proceso
# más práctico, las funciones no requieren de parámetros obligatoriamente, pero
# esta función debe contar con dos parámetros para funcionar correctamente

Ambas son impares

In [ ]:
n_list = [1, 2, 3 ,4 , 5, 6]
print('n_list tiene %i valores y %i posiciones' %(len(n_list), len(n_list)-1))
# Usamos la notación de % para asignar los valores al mensaje
for i in range(len(n_list)):
  print(n_list[i]*2)
# Usamos la función range para recorrer la lista sin llamarla en la inicialización
# del for

n_list tiene 6 valores y 5 posiciones
2
4
6
8
10
12

In [ ]:
exp_list = list(map(lambda x, y: x**y, sorted([7,4,9]),sorted([5,2,3])))
print(exp_list)
# La función map permite ejecutar una función sobre una colección de datos, en
# este caso he usado el comando lambda para crear una subfunción que solo 
# funcionará para este método y se aplicará sobre las dos listas presentes las
# cuales son ordenadas a través del método sorted, para finalizar añadimos el
# resultado a una variable y la imprimimos

[16, 343, 59049]

In [ ]:
s_age = [('Pipe',18),('Juan',27),('Diego',69),('David',23)]
s_age.sort(key = lambda x: x[1])#, reverse = True)
print(s_age)

# En este ejemplo hemos organizado la lista a partir de la menor edad presentada
# gracias al método sort al cual le hemos pasado como criterio de ordenamiento
# la posición 1 de cada dato (la edad). Si ejecutamos el código comentado podemos
# ver como el método lo ordena de mayor a menor

[('Pipe', 18), ('David', 23), ('Juan', 27), ('Diego', 69)]

In [ ]:
class bolsa:
    # En el método init hemos inicializado los atributos que tendrán por default
    # cada uno de los objetos creados, además de un atributo que representa el 
    # porcentaje de rendimiento de la acción según los valores ingresados 
    def __init__(self, nombre, v_inicial, v_final):
        self.nombre = nombre
        self.v_inicial = v_inicial
        self.v_final = v_final
        self.perc_return = float((100*v_final)/v_inicial)-100
 
    # Con el método update permitimos al programa actualizar los valores de la
    # acción en cualquier momento del programa
    def update(self, v_inicial, v_final):
        self.v_inicial = v_inicial
        self.v_final = v_final
        self.perc_return = float((100*v_final)/v_inicial)-100

    # Con este método imprimimos el valor de nuestra variable que representa
    # el rendimiento porcentual de la acción
    def print_return(self):
        print('El porcentaje de rendimiento de la acción es de: {}%'.format(round(self.perc_return, 2)))
      
b_apple = bolsa('Apple', 345, 350)
b_tesla = bolsa('Tesla Motors', 520, 450)
# Creamos dos objetos de la clase bolsa
b_tesla.print_return()
b_apple.print_return()
# Llamamos el método print_return() 
b_apple.tipo = 'Tecnologia'
b_apple.tipo
# Añadimos un atributo único al objeto b_apple
b_tesla.update(450, 435)
# Con el método update() actualizamos los valores de la acción
b_tesla.print_return()
# Con dir() podemos ver los métodos y atributos definidos en el objeto b_apple
# encontramos el atributo tipo que es exclusivo ya que lo hemos creado por fuera
# de nuestra clase
dir(b_apple)

El porcentaje de rendimiento de la acción es de: -13.46%
El porcentaje de rendimiento de la acción es de: 1.45%
El porcentaje de rendimiento de la acción es de: -3.33%

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'nombre',
 'perc_return',
 'print_return',
 'tipo',
 'update',
 'v_final',
 'v_inicial']

In [ ]:
# Creamos una clase que hereda las funciones y atributos de la clase padre bolsa
class child(bolsa):
  # Esta clase hijo puede tener atributos exclusivos, como en este caso con tipo
  def __init__(self, tipo):
    self.tipo = tipo
  # Además de funciones o métodos exclusivos
  def pr_info(self):
    print('Valor inicial: {}. Valor final: {}. Porcentaje: {}%. Tipo: {}.'.format(self.v_inicial, self.v_final, round(self.perc_return, 2), self.tipo))

b_IBM = child("Tecnología")
# Usamos los métodos update() y print_return() de la clase padre
b_IBM.update(850, 900)
b_IBM.print_return()
# Usamos el método pr_info() que es exclusivo de la clase hija
b_IBM.pr_info()

El porcentaje de rendimiento de la acción es de: 5.88%
Valor inicial: 850. Valor final: 900. Porcentaje: 5.88%. Tipo: Tecnología.

In [ ]:
# 04 NumPy and Basic Pandas
import numpy as np 
# Importamos NumPy, una libreria para computación científica en python, ofrece
# herramientas para trabajar con listas multidimensionales (matrices)

n_list = [14, 83, 'Azul', True]
n_list = np.array(n_list)
print(n_list, type(n_list))
# Hemos creado una lista, luego de usar el comando np.array() el tipo de dato
# es ndarray el cual representa una lista multidimensional

['14' '83' 'Azul' 'True'] <class 'numpy.ndarray'>
[[1 2 3]
 [4 5 2]] <class 'numpy.ndarray'>

In [ ]:
n_matriz = np.array([[1,2,3],[4,5,2]])
# Creamos una matriz de 2x3
print(n_matriz, type(n_matriz)) 
# Gracias a que es un ndarray podemos visualizar mejor el esquema de nuestra
# matriz con solo un print
print('Nuestra matriz es de {}x{}'.format(n_matriz.shape[0], n_matriz.shape[1]))
# Con shape podemos saber las dimensiones de nuestra matriz
print(n_matriz[:,1])
# Podemos acceder a valores exactos de la matriz con la lógica del sliced, en este
# caso accedemos a las columnas usando ,

[[1 2 3]
 [4 5 2]] <class 'numpy.ndarray'>
Nuestra matriz es de 2x3
[2 5]

In [ ]:
# Algunos métodos que tiene NumPy son: mean, std, sum, max, log
num_array = [17,25,32,41,59,28,36,43]
print(np.mean(num_array))
print(np.std(num_array))
print(np.sum(num_array))
print(np.max(num_array))
print(np.log(num_array))

35.125
12.035754027064527
281
59
[2.83321334 3.21887582 3.4657359  3.71357207 4.07753744 3.33220451
 3.58351894 3.76120012]

In [ ]:
# Pandas
import pandas as pd

vals = [453, 349, 54]
# Creamos un array de valores numéricos
serie = pd.Series(vals)
# Lo convertimos en una serie para poder usar los métodos de pandas
print(serie)
# Podemos modificar el index de nuestra serie ya existente
serie.index = ['a','b','c']
print(serie)
# Una serie puede usar la lógica del sliced
print(serie[:2])
# También podemos actualizar los valores de una serie, deben ser del mismo tipo
# de dato
serie[0] = 12

0    453
1    349
2     54
dtype: int64
a    453
b    349
c     54
dtype: int64
a    453
b    349
dtype: int64

In [ ]:
# Una serie puede tener el atributo nombre
serie = pd.Series(vals, name ='Estado de cuenta mensual')
print(serie)
# Con describe podemos obtener los datos estadísticos de nuestra serie
print(serie.describe())

0    453
1    349
2     54
Name: Estado de cuenta mensual, dtype: int64
count      3.000000
mean     285.333333
std      206.979065
min       54.000000
25%      201.500000
50%      349.000000
75%      401.000000
max      453.000000
Name: Estado de cuenta mensual, dtype: float64

In [ ]:
vals_index = pd.date_range('2022-03-14', periods = len(vals), freq = 'M')
# Con la función pd.date_range() hemos creado los índices de nuestra serie 
# tomando fechas que aumentan mensualmente
serie.index = vals_index
print(serie)

2022-03-31    453
2022-04-30    349
2022-05-31     54
Freq: M, Name: Estado de cuenta mensual, dtype: int64

In [ ]:
print(serie.iloc[2])
# Ya que muchas veces nuestro index es algo complejo, con .iloc podemos acceder 
# a los valores que queramos siguiendo la lógica del index
print(serie[serie < np.mean(serie)])
# las series permiten añadir condiciones para clasificar datos

54
2022-05-31    54
Freq: M, Name: Estado de cuenta mensual, dtype: int64

In [3]:
# 05 Pandas-Resampling and DataFrame
!pip install yfinance
# Instalando la libreria

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [4]:
import yfinance as yf
tsla = yf.Ticker("TSLA")
# Cambiamos la variable para acceder a las acciones de tesla
print(tsla.info)
# Imprimimos la información de la variable
tsla_table = tsla.history(start="2021-01-01", end="2022-01-01")
# añadimos la información historica de los valores de la acción, con parámetros
# de inicio y fin en un tiempo determinado 
tsla_table

{'zip': '78725', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 99290, 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.', 'city': 'Austin', 'phone': '(512) 516-8177', 'state': 'TX', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.tesla.com', 'maxAge': 1, 'address1': '13101 Tesla Road', 'industry': 'Auto Manufacturers', 'ebitdaMargins': 0.1734, 'profitMargins': 0.102539994, 'grossMargins': 0.25279, 'operatingCashflow': 11496999936, 'revenueGrowth': 0.649, 'operatingMargins': 0.121190004, 'ebitda': 9333000192, 'targetLowPrice': 250, 'recommendationKey': 'hold', 'grossProfits': 13606000000, 'freeCashflow': 4628125184, 'targetMedianPrice': 1035, 'currentPrice': 801.89, 'earningsGrowth': 7.538, 'currentRatio': 1.375, 'returnOnAssets': 0.07135, 'numberOfAnalystOpinions': 36, 'targetMeanPrice': 959.3, 'debtToEquity': 28.192, 'returnOnEquity': 0.20426, 'targetHighPrice': 1480, 'totalCash': 17706999808, 'totalDebt': 8903999488, 'totalRevenue': 53823000576, 'totalCashPerShare': 17.133, 'financialCurrency': 'USD', 'revenuePerShare': 54.587, 'quickRatio': 0.999, 'recommendationMean': 2.6, 'exchange': 'NMS', 'shortName': 'Tesla, Inc.', 'longName': 'Tesla, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'TSLA', 'messageBoardId': 'finmb_27444752', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 15.26, 'beta3Year': None, 'enterpriseToEbitda': 88.005, '52WeekChange': 0.13220954, 'morningStarRiskRating': None, 'forwardEps': 12.73, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1033510016, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 29.225, 'sharesShort': 24557958, 'sharesPercentSharesOut': 0.0238, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.42694, 'netIncomeToCommon': 5523999744, 'trailingEps': 4.901, 'lastDividendValue': None, 'SandP52WeekChange': 0.053094983, 'priceToBook': 27.438494, 'heldPercentInsiders': 0.18375999, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.95, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 843228525, 'beta': 2.04872, 'enterpriseValue': 821350432768, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '5:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 7.596, 'priceToSalesTrailing12Months': 15.980143, 'dateShortInterest': 1646006400, 'pegRatio': 3.5, 'ytdReturn': None, 'forwardPE': 62.99215, 'lastCapGain': None, 'shortPercentOfFloat': 0.029000001, 'sharesShortPriorMonth': 24057278, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 766.37, 'regularMarketOpen': 775.27, 'twoHundredDayAverage': 846.0722, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 805.55, 'navPrice': None, 'averageDailyVolume10Day': 22873100, 'regularMarketPreviousClose': 766.37, 'fiftyDayAverage': 925.3754, 'trailingAnnualDividendRate': 0, 'open': 775.27, 'toCurrency': None, 'averageVolume10days': 22873100, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 756.57, 'currency': 'USD', 'trailingPE': 163.61763, 'regularMarketVolume': 22280381, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 860099248128, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 26473951, 'dayLow': 756.57, 'ask': 802, 'askSize': 1300, 'volume': 22280381, 'fiftyTwoWeekHigh': 1243.49, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 546.98, 'bid': 801.81, 'tradeable': False, 'dividendYield': None, 'bidSize': 1100, 'dayHigh': 805.55, 'regularMarketPrice': 801.89, 'preMarketPrice': 775.24, 'logo_url': 'https://logo.clearbit.com/tesla.com', 'trailingPegRatio': 2.3927}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,719.460022,744.489990,717.190002,729.770020,48638200,0,0
2021-01-05,723.659973,740.840027,719.200012,735.109985,32245200,0,0
2021-01-06,758.489990,774.000000,749.099976,755.979980,44700000,0,0
2021-01-07,777.630005,816.989990,775.200012,816.039978,51498900,0,0
2021-01-08,856.000000,884.489990,838.390015,880.020020,75055500,0,0
...,...,...,...,...,...,...,...
2021-12-27,1073.670044,1117.000000,1070.719971,1093.939941,23715300,0,0
2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,20108000,0,0
2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,18718000,0,0
2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,15680300,0,0
2021-12-31,1073.439941,1082.000000,1054.589966,1056.780029,13577900,0,0

In [5]:
# Creamos una serie con los valores Open de la acción en el año 2021
tsla = tsla_table['Open']['2021']
print(tsla)

Date
2021-01-04     719.460022
2021-01-05     723.659973
2021-01-06     758.489990
2021-01-07     777.630005
2021-01-08     856.000000
                 ...
2021-12-27    1073.670044
2021-12-28    1109.489990
2021-12-29    1098.640015
2021-12-30    1061.329956
2021-12-31    1073.439941
Name: Open, Length: 252, dtype: float64

In [6]:
print(tsla['2021-1'])
# Podemos acceder a los valores de la acción por medio de un fetch, en este caso
# hemos usado el formato (yyyy-mm-dd)

Date
2021-01-04    719.460022
2021-01-05    723.659973
2021-01-06    758.489990
2021-01-07    777.630005
2021-01-08    856.000000
2021-01-11    849.400024
2021-01-12    831.000000
2021-01-13    852.760010
2021-01-14    843.390015
2021-01-15    852.000000
2021-01-19    837.799988
2021-01-20    858.739990
2021-01-21    855.000000
2021-01-22    834.309998
2021-01-25    855.000000
2021-01-26    891.380005
2021-01-27    870.349976
2021-01-28    820.000000
2021-01-29    830.000000
Name: Open, dtype: float64

In [7]:
print(tsla['2021-1-7':'2021-1-22'])
# Podemos acceder a la información por medio de la lógica sliced

Date
2021-01-07    777.630005
2021-01-08    856.000000
2021-01-11    849.400024
2021-01-12    831.000000
2021-01-13    852.760010
2021-01-14    843.390015
2021-01-15    852.000000
2021-01-19    837.799988
2021-01-20    858.739990
2021-01-21    855.000000
2021-01-22    834.309998
Name: Open, dtype: float64

In [8]:
print(tsla.head(3))
print(tsla.tail(2))
# Con el método head() podemos redirigirnos rápidamente a los primeros elementos
# por su parte con tail() accedemos a los últimos n elementos

Date
2021-01-04    719.460022
2021-01-05    723.659973
2021-01-06    758.489990
Name: Open, dtype: float64
Date
2021-12-30    1061.329956
2021-12-31    1073.439941
Name: Open, dtype: float64

In [9]:
by_month = tsla.resample('M').mean()
# Con .resample('M').mean() recopilamos los datos por mes y hallamos su media
print(by_month)

Date
2021-01-31     827.177368
2021-02-28     797.572635
2021-03-31     660.392172
2021-04-30     709.282860
2021-05-31     618.717993
2021-06-30     626.256364
2021-07-31     659.522856
2021-08-31     704.433638
2021-09-30     751.812860
2021-10-31     869.860479
2021-11-30    1117.766666
2021-12-31    1024.433180
Freq: M, Name: Open, dtype: float64

In [10]:
max_month = tsla.resample('M').min()
print(max_month)
# Hemos cambiado .mean() por .min() que nos mostrará el valor mínimo por mes

Date
2021-01-31     719.460022
2021-02-28     662.130005
2021-03-31     600.549988
2021-04-30     667.590027
2021-05-31     552.549988
2021-06-30     579.710022
2021-07-31     628.369995
2021-08-31     669.750000
2021-09-30     732.250000
2021-10-31     776.200012
2021-11-30    1003.309998
2021-12-31     910.700012
Freq: M, Name: Open, dtype: float64

In [11]:
seman_tsla = tsla.resample('8D').std()
# Podemos cambiar la frecuencia para mostrar los datos, en este caso mostramos
# la raiz de cada valor semanalmente
print(seman_tsla)

Date
2021-01-04    59.827017
2021-01-12     9.309800
2021-01-20    18.971466
2021-01-28    23.572128
2021-02-05    25.999639
2021-02-13    17.968971
2021-02-21    36.722400
2021-03-01    44.117200
2021-03-09    36.841997
2021-03-17    15.310552
2021-03-25    31.602812
2021-04-02    12.371404
2021-04-10    31.917695
2021-04-18    13.220715
2021-04-26    24.357824
2021-05-04    31.507372
2021-05-12    19.476219
2021-05-20    17.170989
2021-05-28    20.819587
2021-06-05    11.477523
2021-06-13     8.191429
2021-06-21    30.406428
2021-06-29     2.484865
2021-07-07    19.359907
2021-07-15    11.084449
2021-07-23    10.328671
2021-07-31     7.230630
2021-08-08     6.469074
2021-08-16    12.615787
2021-08-24    10.294524
2021-09-01    12.143869
2021-09-09     7.497477
2021-09-17     9.629882
2021-09-25     5.067753
2021-10-03     8.594300
2021-10-11    21.893545
2021-10-19    64.738365
2021-10-27    55.946823
2021-11-04    84.240050
2021-11-12    41.880722
2021-11-20    44.041410
2021-11-28    32.671181
2021-12-06    27.330148
2021-12-14    32.235723
2021-12-22    62.130976
2021-12-30     8.563053
Freq: 8D, Name: Open, dtype: float64

In [12]:
last_day = tsla.resample('M').agg(lambda x: x[-1])
# Con este método obtenemos el valor de la acción en el último día de cada mes
print(last_day)

Date
2021-01-31     830.000000
2021-02-28     700.000000
2021-03-31     646.619995
2021-04-30     667.590027
2021-05-31     628.500000
2021-06-30     679.770020
2021-07-31     671.760010
2021-08-31     733.000000
2021-09-30     781.000000
2021-10-31    1081.859985
2021-11-30    1144.369995
2021-12-31    1073.439941
Freq: M, Name: Open, dtype: float64

In [13]:
monthly_return = tsla.resample('M').agg(lambda x: 100*(x[-1]/x[0] - 1))
# También podemos hallar la tasa de retorno del mes con el primer y el último día
print(monthly_return)

Date
2021-01-31    15.364297
2021-02-28   -14.035538
2021-03-31    -6.301893
2021-04-30    -3.018721
2021-05-31   -10.699061
2021-06-30     8.278119
2021-07-31    -1.777982
2021-08-31     4.714286
2021-09-30     6.391671
2021-10-31    38.985091
2021-11-30    -0.055022
2021-12-31    -7.517878
Freq: M, Name: Open, dtype: float64

In [14]:
print(monthly_return.mean())
print(monthly_return.max())
print(monthly_return.min())
# Al ser una serie podemos usar diferentes métodos, en este caso encontramos la media
# el valor máximo y mínimo

2.527280912326661
38.985091395125316
-14.035537844173973

In [15]:
print(last_day.diff())
print(last_day.pct_change())
# Con .diff() podemos calcular la diferencia entre dos elementos consecutivos
# mientras que con .pct_change() encontramos el porcentaje de cambio

Date
2021-01-31           NaN
2021-02-28   -130.000000
2021-03-31    -53.380005
2021-04-30     20.970032
2021-05-31    -39.090027
2021-06-30     51.270020
2021-07-31     -8.010010
2021-08-31     61.239990
2021-09-30     48.000000
2021-10-31    300.859985
2021-11-30     62.510010
2021-12-31    -70.930054
Freq: M, Name: Open, dtype: float64
Date
2021-01-31         NaN
2021-02-28   -0.156627
2021-03-31   -0.076257
2021-04-30    0.032430
2021-05-31   -0.058554
2021-06-30    0.081575
2021-07-31   -0.011783
2021-08-31    0.091163
2021-09-30    0.065484
2021-10-31    0.385224
2021-11-30    0.057780
2021-12-31   -0.061982
Freq: M, Name: Open, dtype: float64

In [16]:
# Podemos cambiar estos valores NaN por 0 con el método fillina(0)
daily_return = last_day.pct_change()
print(daily_return.fillna(0))
# También podemos pasar al siguiente valor con el método backward fill = bfill
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))
# Tambien existe el método forward fill = ffill, sin embargo no lo podemos usar
# porque el valor anterior es un NaN

Date
2021-01-31    0.000000
2021-02-28   -0.156627
2021-03-31   -0.076257
2021-04-30    0.032430
2021-05-31   -0.058554
2021-06-30    0.081575
2021-07-31   -0.011783
2021-08-31    0.091163
2021-09-30    0.065484
2021-10-31    0.385224
2021-11-30    0.057780
2021-12-31   -0.061982
Freq: M, Name: Open, dtype: float64
Date
2021-01-31   -0.156627
2021-02-28   -0.156627
2021-03-31   -0.076257
2021-04-30    0.032430
2021-05-31   -0.058554
2021-06-30    0.081575
2021-07-31   -0.011783
2021-08-31    0.091163
2021-09-30    0.065484
2021-10-31    0.385224
2021-11-30    0.057780
2021-12-31   -0.061982
Freq: M, Name: Open, dtype: float64

In [17]:
# Podemos remover la sección del dato por completo con .dropna()
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2021-02-28   -0.156627
2021-03-31   -0.076257
2021-04-30    0.032430
2021-05-31   -0.058554
2021-06-30    0.081575
2021-07-31   -0.011783
2021-08-31    0.091163
2021-09-30    0.065484
2021-10-31    0.385224
2021-11-30    0.057780
2021-12-31   -0.061982
Freq: M, Name: Open, dtype: float64

In [18]:
import pandas as pd

dict = {'TESLA': [43.5, 22.09, 21.73, 65.18, 786.77],'MICROSOFT':[32.7, 33.71, 54.69, 622.59, 332.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

# Hemos creado un data frame pasandole por parametro un diccionario, además hemos
# creado un index con cinco periodos con frecuencia diaria

             TESLA  MICROSOFT     IBM
2017-07-03   43.50      32.70  155.58
2017-07-04   22.09      33.71  153.67
2017-07-05   21.73      54.69  152.36
2017-07-06   65.18     622.59  152.94
2017-07-07  786.77     332.99  153.49

In [19]:
df = tsla_table
# Añadimos a la variable df la tabla creada anteriormente
print(df.Close.tail(5))
# Hallamos los últimos cinco valores de cierre
print(df['High'].tail(5))
# Hacemos fetch sobre los datos de la tabla high y con .tail(5) apuntamos a los
# últimos cinco

Date
2021-12-27    1093.939941
2021-12-28    1088.469971
2021-12-29    1086.189941
2021-12-30    1070.339966
2021-12-31    1056.780029
Name: Close, dtype: float64
Date
2021-12-27    1117.000000
2021-12-28    1119.000000
2021-12-29    1104.000000
2021-12-30    1095.550049
2021-12-31    1082.000000
Name: High, dtype: float64

In [20]:
tsla_2021 = df['2021']
tsla_month = tsla_2021.resample('M').agg(lambda x: x[-1])
print(tsla_month)
# Hemos creado un dataframe que con lamba toma el último día de nuestra frecuencia
# que en este caso es mensual

                   Open         High          Low        Close    Volume  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029  34990800
2021-02-28   700.000000   706.700012   659.510010   675.500000  41089200
2021-03-31   646.619995   672.000000   641.109985   667.929993  33337300
2021-04-30   667.590027   715.469971   666.140015   709.440002  40758700
2021-05-31   628.500000   635.590027   622.380005   625.219971  22737000
2021-06-30   679.770020   692.809998   678.140015   679.700012  18924900
2021-07-31   671.760010   697.530029   669.000000   687.200012  29600500
2021-08-31   733.000000   740.390015   726.440002   735.719971  20855400
2021-09-30   781.000000   789.130005   775.000000   775.479980  17956000
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000  29918400
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010  27092000
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029  13577900

            Dividends  Stock Splits
Date
2021-01-31          0             0
2021-02-28          0             0
2021-03-31          0             0
2021-04-30          0             0
2021-05-31          0             0
2021-06-30          0             0
2021-07-31          0             0
2021-08-31          0             0
2021-09-30          0             0
2021-10-31          0             0
2021-11-30          0             0
2021-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [21]:
tsla_bar = tsla_month[['Open', 'High', 'Low', 'Close']]
print(tsla_bar)
# Hemos seleccionado las columnas del dataframe que queremos usar, especificando
# sus nombres
print(tsla_month.loc['2021-03':'2021-06',['Open', 'High', 'Low', 'Close']])
# Con .loc podemos configurar tanto filas como columnas

                   Open         High          Low        Close
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029
                  Open        High         Low       Close
Date
2021-03-31  646.619995  672.000000  641.109985  667.929993
2021-04-30  667.590027  715.469971  666.140015  709.440002
2021-05-31  628.500000  635.590027  622.380005  625.219971
2021-06-30  679.770020  692.809998  678.140015  679.700012

In [22]:
import numpy as np

subs = tsla_bar[tsla_bar.Close > np.mean(tsla_bar.Close)]
print(subs)
# Hemos creado un subconjunto único con condiciones lógicas

                   Open         High          Low        Close
Date
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

In [23]:
tsla_bar['Tasa de retorno'] = tsla_bar.Close.pct_change()
print(tsla_bar)
# Podemos agregar valores a nuestro bar, en este caso hemos agregado la tasa de
# retorno de la acción usando el método pct_change()

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

            Tasa de retorno
Date
2021-01-31              NaN
2021-02-28        -0.148740
2021-03-31        -0.011207
2021-04-30         0.062147
2021-05-31        -0.118713
2021-06-30         0.087137
2021-07-31         0.011034
2021-08-31         0.070605
2021-09-30         0.054042
2021-10-31         0.436530
2021-11-30         0.027612
2021-12-31        -0.076855

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
drop = tsla_bar.dropna() 
# Elimina la fila que contenga un NaN en retorno
print(drop)
print('\n--------------------------------------------------\n')
fill = tsla_bar.fillna(0) 
# En este caso lo reemplaza por 0
print(fill)

                   Open         High          Low        Close  \
Date
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

            Tasa de retorno
Date
2021-02-28        -0.148740
2021-03-31        -0.011207
2021-04-30         0.062147
2021-05-31        -0.118713
2021-06-30         0.087137
2021-07-31         0.011034
2021-08-31         0.070605
2021-09-30         0.054042
2021-10-31         0.436530
2021-11-30         0.027612
2021-12-31        -0.076855

--------------------------------------------------

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

            Tasa de retorno
Date
2021-01-31         0.000000
2021-02-28        -0.148740
2021-03-31        -0.011207
2021-04-30         0.062147
2021-05-31        -0.118713
2021-06-30         0.087137
2021-07-31         0.011034
2021-08-31         0.070605
2021-09-30         0.054042
2021-10-31         0.436530
2021-11-30         0.027612
2021-12-31        -0.076855

In [27]:
s_val1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s_val2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s_val1,s_val2], axis = 1)
# Usamos el método pd.concat el cual tabula la informacion, junto al argumento
# axis = 1 el cual representa que seran filas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [28]:
log_price = np.log(tsla_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([tsla_bar, log_price], axis = 1)
print(concat)

Date
2021-01-31    6.676491
2021-02-28    6.515453
2021-03-31    6.504183
2021-04-30    6.564476
2021-05-31    6.438104
2021-06-30    6.521652
2021-07-31    6.532625
2021-08-31    6.600850
2021-09-30    6.653482
2021-10-31    7.015712
2021-11-30    7.042950
2021-12-31    6.962982
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

            Tasa de retorno  log_price
Date
2021-01-31              NaN   6.676491
2021-02-28        -0.148740   6.515453
2021-03-31        -0.011207   6.504183
2021-04-30         0.062147   6.564476
2021-05-31        -0.118713   6.438104
2021-06-30         0.087137   6.521652
2021-07-31         0.011034   6.532625
2021-08-31         0.070605   6.600850
2021-09-30         0.054042   6.653482
2021-10-31         0.436530   7.015712
2021-11-30         0.027612   7.042950
2021-12-31        -0.076855   6.962982

In [31]:
df_volume = tsla_table.loc['2021-01':'2021-06',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2021 = tsla_table.loc['2021-07':'2021-10',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021)

# Con .loc podemos determinar el periodo de tiempo por medio del formato ['yyyy-mm-dd'] 
# añadimos nombre a las comlumnas y agregamos la frecuencia correspondiente, en este
# caso (M), con la funcion lambda escogemos el ultimo dia de cada mes

              Volume  Stock Splits
Date
2021-01-31  34990800             0
2021-02-28  41089200             0
2021-03-31  33337300             0
2021-04-30  40758700             0
2021-05-31  22737000             0
2021-06-30  18924900             0

---------------------- separate line--------------------

                   Open         High          Low        Close
Date
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000

In [32]:
ts_concat = pd.concat([tsla_bar, df_volume], axis = 1)
print(ts_concat)

# Con el metodo .concat tabulamos la informacion seleccionada, además de usar el
# argumento axis = 1 indicando que tabule en fila

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029

            Tasa de retorno      Volume  Stock Splits
Date
2021-01-31              NaN  34990800.0           0.0
2021-02-28        -0.148740  41089200.0           0.0
2021-03-31        -0.011207  33337300.0           0.0
2021-04-30         0.062147  40758700.0           0.0
2021-05-31        -0.118713  22737000.0           0.0
2021-06-30         0.087137  18924900.0           0.0
2021-07-31         0.011034         NaN           NaN
2021-08-31         0.070605         NaN           NaN
2021-09-30         0.054042         NaN           NaN
2021-10-31         0.436530         NaN           NaN
2021-11-30         0.027612         NaN           NaN
2021-12-31        -0.076855         NaN           NaN

In [ ]:
ts_concat = pd.concat([tsla_bar,df_volume],axis = 1, join = 'inner')
print(ts_concat)
# Volvemos a usar el metodo para concatenar la informacion producto de el inner join
# que devuelve las filas cuando hay al menos una coincidencia en las tablas
# que hemos pasado como parámetro, en este caso (rui_bar y df_volume)

In [33]:
append = tsla_bar.append(df_2021)
print(append)
# Con .append agregamos todos los registros de valores de las acciones Tesla en 2021

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000

            Tasa de retorno
Date
2021-01-31              NaN
2021-02-28        -0.148740
2021-03-31        -0.011207
2021-04-30         0.062147
2021-05-31        -0.118713
2021-06-30         0.087137
2021-07-31         0.011034
2021-08-31         0.070605
2021-09-30         0.054042
2021-10-31         0.436530
2021-11-30         0.027612
2021-12-31        -0.076855
2021-07-31              NaN
2021-08-31              NaN
2021-09-30              NaN
2021-10-31              NaN

In [34]:
ts_concat = pd.concat([tsla_bar, df_2021], axis = 0)
# Con .concat concatenamos los valores presentes en tsla_bar, en este caso usamos
# axis = 0, el cual organiza de la fecha mas reciente a la mas antigua en las filas
print(ts_concat)

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000

            Tasa de retorno
Date
2021-01-31              NaN
2021-02-28        -0.148740
2021-03-31        -0.011207
2021-04-30         0.062147
2021-05-31        -0.118713
2021-06-30         0.087137
2021-07-31         0.011034
2021-08-31         0.070605
2021-09-30         0.054042
2021-10-31         0.436530
2021-11-30         0.027612
2021-12-31        -0.076855
2021-07-31              NaN
2021-08-31              NaN
2021-09-30              NaN
2021-10-31              NaN

In [36]:
df_2021.columns = ['Change', 'High','Low','Close']
# Con el método .columns declaramos el nombre de las variables que presentaremos
ts_concat = pd.concat([tsla_bar, df_2021], axis = 0)
# Concatenamos en la tabla los datos de tsla_bar y df_2021 de fecha mas reciente a la mas antigua 
print(ts_concat)

                   Open         High          Low        Close  \
Date
2021-01-31   830.000000   842.409973   780.099976   793.530029
2021-02-28   700.000000   706.700012   659.510010   675.500000
2021-03-31   646.619995   672.000000   641.109985   667.929993
2021-04-30   667.590027   715.469971   666.140015   709.440002
2021-05-31   628.500000   635.590027   622.380005   625.219971
2021-06-30   679.770020   692.809998   678.140015   679.700012
2021-07-31   671.760010   697.530029   669.000000   687.200012
2021-08-31   733.000000   740.390015   726.440002   735.719971
2021-09-30   781.000000   789.130005   775.000000   775.479980
2021-10-31  1081.859985  1115.209961  1073.209961  1114.000000
2021-11-30  1144.369995  1168.000000  1118.000000  1144.760010
2021-12-31  1073.439941  1082.000000  1054.589966  1056.780029
2021-07-31          NaN   697.530029   669.000000   687.200012
2021-08-31          NaN   740.390015   726.440002   735.719971
2021-09-30          NaN   789.130005   775.000000   775.479980
2021-10-31          NaN  1115.209961  1073.209961  1114.000000

            Tasa de retorno       Change
Date
2021-01-31              NaN          NaN
2021-02-28        -0.148740          NaN
2021-03-31        -0.011207          NaN
2021-04-30         0.062147          NaN
2021-05-31        -0.118713          NaN
2021-06-30         0.087137          NaN
2021-07-31         0.011034          NaN
2021-08-31         0.070605          NaN
2021-09-30         0.054042          NaN
2021-10-31         0.436530          NaN
2021-11-30         0.027612          NaN
2021-12-31        -0.076855          NaN
2021-07-31              NaN   671.760010
2021-08-31              NaN   733.000000
2021-09-30              NaN   781.000000
2021-10-31              NaN  1081.859985